﻿@model PallesGavebodV10.Models.Gift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoyGift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoyGift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GirlGift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GirlGift)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GiftNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
