﻿@model IEnumerable<PallesGavebodV10.Models.Gift>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreationDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BoyGift)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.GirlGift)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreationDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BoyGift)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GirlGift)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.GiftNumber">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.GiftNumber">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.GiftNumber">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
